*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	--bg: hsl(0, 0%, 95%);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	min-height: 100vh;
	background-color: var(--bg);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* || Board display */
.board,
.board .container {
	--gap: 5px;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: var(--gap);
	background-color: black;
}
.board {
	--s: min(90vw, 90vh);
	width: var(--s);
	height: var(--s);
}
.container {
	width: 80%;
	height: 80%;
	transition: opacity 150ms;
}
.big,
.container {
	pointer-events: none;
}
.small {
	pointer-events: all;
}
.big,
.small {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg);
}
.big::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 90%;
	height: 90%;
	border-radius: 0.5rem;
	background-color: rgba(255, 0, 0, 0.3);
	z-index: 1;
	transition: opacity 150ms;
	pointer-events: all;
}
.big[data-enabled]::before {
	opacity: 0;
	pointer-events: none;
}
.big:not([data-enabled]) .container {
	opacity: 0.2;
}

/* || Player Mark
Text needs to translated up as font isn't centered vertically
Feels hacky, might switch to using images
*/
:is(.big, .small)[data-mark]::after {
	position: absolute;
	top: 50%;
	line-height: 0;
	translate: 0 -0.3rem;
	font-family: Arial, sans-serif;
	pointer-events: all;
}
:is(.big, .small)[data-mark='x']::after {
	font-size: 3rem;
	content: '\2A2F';
	color: red;
}
:is(.big, .small)[data-mark='o']::after {
	font-size: 5rem;
	content: '\25CB';
	color: blue;
}
.big[data-mark='x']::after {
	font-size: 10rem;
	translate: 0 -0.4rem;
}
.big[data-mark='o']::after {
	font-size: 16rem;
	translate: 0 -0.8rem;
}
.big[data-mark] .container {
	opacity: 0.2;
}

/* || Win stroke */
.board[data-stroke]::after {
	--thickness: 20px;
	z-index: 3;
}
:where(.board, .container)[data-stroke]::after {
	--thickness: 7px;
	--cell-size: calc((100% - var(--gap) * 2) / 3);
	--cell-center: calc(var(--cell-size) / 2 - var(--thickness) / 2);
	content: '';
	display: inline-block;
	position: absolute;
	top: var(--cell-center);
	left: var(--cell-center);
	height: var(--thickness);
	width: calc(100% / 3 * 2 + var(--thickness));
	background-color: black;
	border: 2px solid white;
	border-radius: var(--thickness);
	transform-origin: left bottom;
}
:is(.board, .container)[data-stroke='1']::after {
	top: calc(var(--cell-size) + var(--gap) + var(--cell-center));
}
:is(.board, .container):is([data-stroke='2'], [data-stroke='7'])::after {
	top: calc((var(--cell-size) + var(--gap)) * 2 + var(--cell-center));
}
:is(.board, .container):is(
		[data-stroke='3'],
		[data-stroke='4'],
		[data-stroke='5']
	)::after {
	rotate: 90deg;
	translate: 0 calc(-1 * var(--thickness));
}
:is(.board, .container)[data-stroke='4']::after {
	left: calc(var(--cell-size) + var(--gap) + var(--cell-center));
}
:is(.board, .container)[data-stroke='5']::after {
	left: calc((var(--cell-size) + var(--gap)) * 2 + var(--cell-center));
}
:is(.board, .container)[data-stroke='6']::after {
	rotate: 45deg;
	width: calc((99 / 70) * (100% / 3 * 2 + var(--gap)));
	/* hypotenuse of 45-45-90 triangle */
}
:is(.board, .container)[data-stroke='7']::after {
	rotate: -45deg;
	width: calc((99 / 70) * (100% / 3 * 2 + var(--gap)));
	translate: var(--thickness);
}
